[Desktop Entry]
Version=1.0
Name=Godot
Comment=Make Games 
GenericName=Game Engine
Keywords=Game;Engine;3D;
Exec=/home/dasb/Documents/apps/bin/godot_3.5/Godot_v3.5.1-stable_x11.64 %u
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=godot
Categories=Graphics;Development;
#MimeType=text/html;text/xml;application/xhtml+xml;application/xml;application/rss+xml;application/rdf+xml;image/gif;image/jpeg;image/png;x-scheme-handler/http;x-scheme-handler/https;x-scheme-handler/ftp;x-scheme-handler/chrome;video/webm;application/x-xpinstall;
StartupNotify=true
#Actions=new-window;new-private-window;

