[Desktop Entry]
Version=1.0
Name=KeePassXC
Comment=Password Manager
GenericName=Password Manager
Keywords=Passwords;Security;
Exec=/opt/keepassxc/keepassxc.AppImage
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=keepassxc
StartupNotify=true

